.search{
  display: flex;
}

.search input {
  padding: 0.7em;
  flex-grow: 1;
  margin-right: 0.5em;

  border: var(--border-outline); 
  border-radius: var(--border-radius);
}

.search button {
  padding: 0.7em;
  background-color: var(--poke-font-color);
  color: var(--color-bg);
  font-weight: bolder;
  
  border: var(--border-outline); 
  border-radius: var(--border-radius);
}